
Client/.idea/
Client/.gradle/
Client/gradle/
Client/Android.iml
Client/build.gradle
Client/gradle.properties
Client/gradlew
Client/gradlew.bat
Client/Client.iml
Client/local.properties
Client/settings.gradle
ImageAnalyser/.idea/
ImageAnalyser/venv/
Server/.settings/
Server/build/
Server/WebContent/
Server/.classpath
Server/.project
